.login-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #78909c;
    position: relative;
}
.login-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #cfd8dc;
    height: 36rem;
    width: 70rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.side-box-form {
    position: absolute;
    right: 0;
    height: 100%;
    width: 34rem;
    background-color: #e3f2fd;
}
.login-title {
    position: absolute;
    right: 12rem;
    top: 5rem;
    display: block;
}
.login-box-form {
    position: absolute;
    top: 10rem;
    padding: 0.5rem;
    display: block;
    height: 65%;
    /* border: 1px solid red; */
    width: 93.6%;
    padding: 1rem;
}
.form-box {
    position: absolute;
    top: 3rem;
    width: 95%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.7rem;
}
.form-group{
    display: block;
    box-sizing: border-box;
    position: relative;
    left: 1rem;
    bottom: 5rem;
}
.form-group #email,
.form-group #password {
    width: 20rem;
    height: 3rem;
    padding: 0.5rem 1em;
    border: 1px solid #b0bec5;
    border-radius: 0.25rem;
    font-size: 0.9rem;
    box-sizing: border-box;
}
.button-form-group {
    display: block;
    width: 20rem;
    position: absolute;
    bottom: 2rem;
    right: 5.20rem;
    height: 3rem;
}
.error-message {
    z-index: 1;
}