.l-h {
    margin: 0;
    display: inline-block;
    position: absolute;
    top: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    left: 14.50rem;
    color: black;
}
.input-box1 {
    /* border: 1px solid red; */
    height: 12%;
    width: 80%;
    position: absolute;
    top: 3rem;
    left: 3rem;
    padding: 1rem;
}
.input-box2 {
    /* border: 1px solid red; */
    height: 12%;
    width: 80%;
    position: absolute;
    top: 8rem;
    left: 3rem;
    padding: 1rem;
}
.btn-box {
    display: inline-block;
    position: absolute;
    bottom: 4rem;
    /* border: 1px solid red; */
    padding: 1rem 3rem;
}
.btn:hover{
    background-color: darkgoldenrod;
    color: white;
}
.btn:active{
    background-color: white;
    color: black;
}