.l-h {
    margin: 0;
    display: inline-block;
    position: absolute;
    top: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    left: 13rem;
    color: black;
}
.input-box1 {
    height: 12%;
    width: 80%;
    position: absolute;
    top: 2rem;
    left: 2rem;
    padding: 1rem;
}
.input-box2 {
    height: 12%;
    width: 80%;
    position: absolute;
    top: 6.70rem;
    left: 2rem;
    padding: 1rem;
}
.btn-box {
    display: inline-block;
    position: absolute;
    bottom: 3rem;
    padding: 1rem 3rem;
}
.btn:hover{
    background-color: darkgoldenrod;
    color: white;
}
.btn:active{
    background-color: white;
    color: black;
}
@media screen and (min-width: 1155px){
    #login-container{
        width: 35%;
    }
}